/* styles.css */
.bg-custom-color {
    background-color: #e6ecf6;
  }

.body-color {
  background-color: #e2efef;
}

#precip_map { height: 300px;
width: 300px;}

#hum_map { height: 300px;
  width: 300px;}
  
#vis_map { height: 300px;
    width: 300px;}

#pressure_map {
  height: 300px;
  width: 300px;
}

#ozone_map {
  height: 300px;
  width: 300px;
}

.bordered-div {
  background-color: #f0f0f0;
  /* Set border properties */
  width: 300px;
  border: 2px solid #333;
  border-radius: 8px; /* Optional: Adds rounded corners */
  padding: 10px; /* Optional: Adds padding inside the border */
}


.map-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 500px;
  gap: 100px 100px;
  row-gap: 300px;

}

.legend{
  width:500px;
  justify-content: center;
  align-self: center;
}

.legend-box{
  margin-left: 50px;
  padding-left: 35px;
  width: 400px;
}

.map-box{
  display:flex;
  flex-flow: column wrap;

}

.map-img {
  object-fit: cover;
  align-self: center;
  justify-content: center;
  width: 500px;
  height: 500px;
}

.left{
  margin-left: 50px;
}

.map-header{
 text-align: center;
}

.explanation{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.text{
  justify-content: left;
  align-items: center;
}

.map{
  width: 500px
}

.spacer{
  margin-left: 150px;
}