/* styles.css */
.bg-custom-color {
    background-color: #e6ecf6;
  }

.body-color {
  background-color: #e2efef;
}

#precip_map { height: 600px;
width: 600px;}

#hum_map { height: 600px;
  width: 600px;}
  
#vis_map { height: 600px;
    width: 600px;}

#pressure_map {
  height: 600px;
  width: 600px;
}


.form{
  padding-top: 100px;
}

.explanation{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.text{
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.map{
  width: 600px
}

.spacer{
  margin-left: 300px;
  align-items: center;
}