{% extends 'layout.html' %}
{% block content %}
<div class="bg-custom-color">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold">Temperature and Wind Data</h1>
      <h3 class="fw-normal text-muted mb-3">Consolidated Western United States Temperature, Dewpoint and Wind Data</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <a class="icon-link" href="{{ url_for('precip') }}">
          Precipitation
        </a>
        <a class="icon-link" href="{{ url_for('air_q') }}">
          Air Quality
        </a>
      </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
  <hr>
</div>

  <div class="container-fluid mt-4">
    <div class="row">
      <!-- Single Grid Row for Each Image and Text -->
      <div class="col-md-3 mb-4 spacer">
        <h2>Dew Point Temperature</h2>
        <div>
          <img src="../static/img/temp_wind_maps/dewPoint.png" alt="Dew Point" class="img-fluid map">
        </div>
        <img src="../static/img/legends/temperature_legend.png" class="img-fluid map">
        
      </div>
      <div class="col-md-2 mb-4 d-flex text">
        {% if success == True %}
          <p><b>Dewpoint Temperature</b> is defined as the temperature to which the actual air temperature would have to be decreased to in order for the air to reach saturation. 
            <br>
            <br>
            The current observed dewpoint temperature in Salt Lake City, Utah is {{ dewpoint }} degrees Celsius</p>
        {% endif %}
      </div>
      <div class="col-md-3 mb-4">
        <h2>Temperature</h2>
        <div>
          <img src="../static/img/temp_wind_maps/temperature.png" alt="Temperature" class="img-fluid map">
        </div>
        <img src="../static/img/legends/temperature_legend.png" class="img-fluid map">
        
      </div>
      <div class="col-md-2 mb-4 d-flex text">
        {% if success == True %}
          <p>The current Temperature reading in Salt Lake City, Utah is {{ temp }} degrees Celsius</p>
        {% endif %}
      </div>
      <!-- Repeat the pattern for the remaining images and text -->
      <div class="col-md-3 mb-4 spacer">
        <h2>Apparent Temperature</h2>
        <div>
          <img src="../static/img/temp_wind_maps/temperatureApparent.png" alt="Temperature" class="img-fluid map">
        </div>
        <img src="../static/img/legends/temperature_legend.png" class="img-fluid map">
        
      </div>
      <div class="col-md-2 mb-4 d-flex text">
        {% if success == True %}
          <p><b>Apparent Temperature</b> is defined as the the temperature that we perceive as humans.  This definition takes into account wind chill, humidity, heat index etc.
            <br>
            <br>
            The current Apparent Temperature in Salt Lake City, Utah is {{ temp_app }} degrees Celsius</p>
        {% endif %}
      </div>
      <div class="col-md-3 mb-4">
        <h2>Wind Direction</h2>
        <div>
          <img src="../static/img/temp_wind_maps/windDirection.png" alt="Wind Direction" class="img-fluid map">
        </div>
        <img src="../static/img/legends/wind_direction_legend.png"class="img-fluid map">
        
      </div>
      <div class="col-md-2 mb-4 d-flex text">
        {% if success == True %}
          <p><b>Wind Direction</b> in Meteorology is defined by the direction that the wind is coming from, rather than the direction it is heading.
            For example, winds that are blowing towards the North would be defined as Southern winds.  In addition, when describing winds in degrees, the
            Meteorological compass follows a different degree path than traditional mathematics.  In the Meteorological wind rose, North is 0 or 360 degrees and the 
            rose increases in the clockwise as opposed to the conventional counterclockwise. However we still describe the wind from where it would be coming from 
            so in this case, winds blowing towards the north would be 180 degree wind.
            <br>
            <br>
            The current Wind Direction in Salt Lake City, Utah is {{ wind_dir }} degrees</p>
        {% endif %}
      </div>
      <div class="col-md-3 mb-4 spacer">
        <h2>Wind Gust</h2>
        <div>
          <img src="../static/img/temp_wind_maps/windGust.png" alt="Wind Gust" class="img-fluid map">
        </div>
        <img src="../static/img/legends/wind_legend.png" class="img-fluid map">
        
      </div>
      <div class="col-md-2 mb-4 d-flex text">
        {% if success == True %}
          <p><b>Wind Gust</b> is defined as short, but quick increase in wind speeds.  These are typically reported when peak wind speed reaches 16 knots and 
            the difference between the peaks and lulls of wind speed is about 9 knots.
            <br>
            <br>
            The current Wind Gust in Salt Lake City, Utah is {{ wind_gust }} kph</p>
        {% endif %}
      </div>
      <div class="col-md-3 mb-4">
        <h2>Wind Speed</h2>
        <div>
          <img src="../static/img/temp_wind_maps/windSpeed.png" alt="Wind Speed" class="img-fluid map">
        </div>
        <img src="../static/img/legends/wind_legend.png" class="img-fluid map">
        
      </div>
      <div class="col-md-2 mb-4 d-flex text">
        {% if success == True %}
          <p>The current wind speed in Salt Lake City, Utah is {{ wind_speed }} kph</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>



{% endblock %}