/* styles.css */
.bg-custom-color {
    background-color: #ccd7ec;
  }

.body-color {
  background-color: #ccecec;
}

#precip_map { height: 300px;
width: 300px;}

#hum_map { height: 300px;
  width: 300px;}
  
#vis_map { height: 300px;
    width: 300px;}

#pressure_map {
  height: 300px;
  width: 300px;
}