{% extends 'layout.html' %}
{% block content %}
          <div class="px-4 pt-5 my-5 text-center border-bottom">
            <div>
              <h1 class="display-4 fw-bold text-body-emphasis">Utah Weather and Air Data</h1>
              <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Quickly see satellite images, graphs, raw data and trends for Salt Lake City weather and air quality</p>
            </div>
          </div>
          <div class="container">  
            <div id="carouselExampleCaptions" class="carousel slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <a href='{{ url_for("precip") }}'><img src="../static/img/precipitation.jpg" class="d-block w-100" alt="..."></a>
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Precipitation Data</h5>
                    <p>See current and past precipitation data for Salt Lake City</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <a href="{{ url_for('air_q') }}"><img src="../static/img/air-quality-4998.jpg" class="d-block w-100" alt="..."></a>
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Air Quality Data</h5>
                    <p>See current Air Quality Data for Salt Lake City</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <a href="{{ url_for('temp') }}"><img src="../static/img/temperature.jpg" class="d-block w-100" alt="..."></a>
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Temperture and Wind Data</h5>
                    <p>See current and predicted temperature and wind data for Salt Lake City</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        

{% endblock %}